html {
    height: 100%;
    width: 100%;
    min-width: 1000px;
}

body {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Navbar CSS begins ↓ */
header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #044889;
    padding: 0 10%;
    height: 5%;
}

header li, a {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #f2eee8;
    text-decoration: none;
}


.logo {
    text-align: center;
    cursor: pointer;
}

.nav_links {
    list-style: none;
    padding-left: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FFCE00;
}

.guide {
    padding: 9px 25px;
    background-color: rgba(121, 126, 128, 1);
    border: none;
    color: #f2eee8;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

button:hover {
    background-color: rgba(121, 126, 128, 0.75);
}

/* Navbar CSS ends */

/* Main CSS starts */

main {
    height: 95%;
    background-color: #f2eee8;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
}

#map a {
    font-size: 8px; /*sets map links to smaller size*/
}

/* Guide modal CSS starts */
dialog {
    font-family: Arial, sans-serif;
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: block;
    width: 50%;
    height: 65%;
    border-radius: 15px;
    z-index: 2;
}

dialog h1 {
    text-align: center;
    color: #f2eee8;
    background-color: #044889;
    margin-top: 0;
}

dialog p {
    margin-left: 1rem;
}

dialog[open] {
    opacity: 1;
    padding: 0;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.8);
}

dialog span {
    position: absolute;
    top: -0.75rem;
    right: 0;
    font-size: 3rem;
    text-decoration: none;
    color: #797E80;
    filter: drop-shadow(2px 2px 2px #000);
    cursor: pointer;
}

/* Guide modal CSS ends */

/*Infobox/console CSS starts*/

aside {
    font-family: Arial, sans-serif;
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 0;
    background-color: #f2eee8;
    width: 25%;
    height: 60%;
    border-radius: 10px 0 0 10px;
    border-style: solid none solid solid; /*Sets the borders*/
    border-width: 3px;
    border-color: #044889;
}

aside h1 {
    margin-top: 0;
    text-align: center;
    color: #f2eee8;
    background-color: #797E80;
    width: 100%;
    border-radius: 7px 0 0 0;
    padding-bottom: 1%;
    padding-top: 1%;
}

/*player console styling*/
aside ul {
    list-style-type: none;
    padding-inline-start: 0;
    font-weight: 600;
    color: #212427;
}

aside li {
    margin: 0.5rem;
}

/*Login form styling ↓ */

#login b {
    margin-left: 1rem;
    margin-top: 1rem;
}

#login input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    margin: 6px 8px 0 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.ls_buttons {
    text-align: center;
}

#login button {
    background-color: rgba(121, 126, 128, 1);
    color: #f2eee8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    margin: 8px 0;
    font-weight: 600;
}

#login button:hover {
    background-color: #044889;
}
