
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #f2eee8;
}

/* Navbar CSS begins ↓ */
header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #044889;
    padding: 0 10%;
}
li, a {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #f2eee8;
    text-decoration: none;
}


.logo {
    text-align: center;
    cursor: pointer;
}

.nav_links {
    list-style: none;
    padding-left: 0;
}
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FFCE00;
}

.info button {
    padding: 9px 25px;
    background-color: rgba(121,126,128,1);
    border: none;
    color: #f2eee8;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
        background-color: rgba(121,126,128,0.75);
}
/* Navbar CSS ends */